.places__block {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 41.8vw;
  display: flex;
}

@media (min-width: 1440px) {
  .places__block {
    min-height: 600px;
  }
}

@media (max-width: 1030px) {
  .places__block {
    flex-direction: column;
    margin: 0 auto;
    max-width: 510px;
  }
}